* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  position: relative;
}

.product {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
  font-weight: bold;
}
.sale {
  animation: shake 1s infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
}
.title {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding: 15px;
}
.title p {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: red;
  color: white;
  position: absolute;
  top: -15px;
  left: -34px;
  letter-spacing: 2px;
}
.author {
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  top: -15px;
  right: -120px;
}
.Info {
  margin-bottom: 10px;
}
.colors {
  margin-top: 20px;
}
.black {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  margin-right: 5px;
}
.blue {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.red {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.yellow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellow;
  display: inline-block;
  margin-right: 5px;
}
.green {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  display: inline-block;
  margin-right: 5px;
}
.brown {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: brown;
  display: inline-block;
}

.moreInfo {
}
.moreInfo:link,
.moreInfo:visited {
  color: black;
}

.moreInfo:hover,
.moreInfo:active {
  text-decoration: none;
}

.list li {
  margin-bottom: 10px;
}
.list {
  margin-left: 20px;
  margin-bottom: 15px;
  list-style-type: square;
}

.button {
  font-size: 20px;
  background-color: black;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  border-top: 5px solid black;
}

.button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}
.image {
  float: left;
  padding-right: 40px;
}
.nav {
  width: 240px;
  float: left;
  display: inline-block;
}

.details {
  /* background-color: green; */
  padding-left: 40px;
  position: relative;
  width: 240px;
  float: left;
}
